<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="destinations">
      <ion-icon name="earth-outline"></ion-icon>
      <ion-label>Go</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="activities/null">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>See</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="eats/null">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>Eat</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
